<!DOCTYPE html>
<html>
<head>
    <title>Feed de Imagens</title>
    <link rel="stylesheet" href="./public/css/feedDeLocais.css">
    <style>
        .header {
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #003817;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
        }

        .feed-container {
            margin-top: 70px;
        }
    </style>
</head>
<body>
    <header class="header">
        <div>
            LOGO
        </div>
        <div>
            <% if (typeof user !== 'undefined' && user) { %>
                <p> <%=user.name%> </p>
                <a href="/cadastrar-lugar">Criar Post</a>
                <a href="/perfil">Perfil</a>
                <a href="/sair">Sair</a>
            <% } else { %>
                <a href="/">Login</a>
                <a href="/register">Registro</a>
            <% } %>
        </div>
    </header>
    <div class="feed-container">
        <% lugares.forEach(function(item) { %>
            <div class="post">
                <h1><%= item.nome %></h1>
                <img src="<%= '../' + item.foto %>" alt="Descrição da imagem">
                <p>Nota: <%= item.nota %></p>
                <p>Descrição: <%= item.descricao %></p>
            </div>
        <% }); %>
    </div>
</body>
</html>
